//--------------------
// Colors
//--------------------
// Standard
$black: #000;
$white: #fff;
$red: rgb(194, 20, 20);
$link-blue:  rgb(37, 233, 233);
$link-blue--hover: rgb(200,233,233);

// Primary


// Secondary