//--------------------
// Colors
//--------------------
// Standard
$black: #000;
$white: #fff;
$red: rgb(194, 20, 20);
$link-blue:  rgb(48 181 181);;
$link-blue--hover: rgb(76, 234, 234);

// Primary


// Secondary